.sub_body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.top {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}


















/* .tab_container {
  max-width: 75%;
  margin: 25px auto;
}

.tab_users {
  display: flex;
  flex-direction: column;
}
.tab_head {
  background-color: rgba(7, 2, 255, 0.438);
  display: flex;
  justify-content: space-evenly;
}

.tab_line {
  background-color: rgba(255, 251, 4, 0.363);
  display: flex;
  justify-content: space-evenly;
}

.tab_cell {
  width: 150px; 
  margin: 15px auto;
  text-align: center;
} */